<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <p>Oh nooo. Ada sesuatu yang salah.</p>
            <hr />
            <p class="mb-0">Anda dapat memasukkan data atau URL yg benar.</p>
        </div>
    </div>
</div>
